@model UserWithDetailsViewModel;
<form method="post" asp-action="UpdateUser" asp-controller="Account" class="needs-validation">

    <div class="row mb-3">
        <label asp-for="UserName" class="col-md-4 col-lg-3 col-form-label"> </label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="UserName" type="text" class="form-control">
        </div>
    </div>


    <div class="row mb-3">
        <label asp-for="FirstName" class="col-md-4 col-lg-3 col-form-label"> </label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="FirstName" type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="LastName" class="col-md-4 col-lg-3 col-form-label"> </label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="LastName" type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="DateOfBirth" class="col-md-4 col-lg-3 col-form-label"> </label>
        <div class="col-md-8 col-lg-9">
            <input type="text" class="form-control" id="date-text" placeholder="تاریخ شمسی ">
            <input type="hidden" asp-for="DateOfBirth" placeholder="مقدار میلادی تاریخ">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="PhoneNumber" class="col-md-4 col-lg-3 col-form-label"> </label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="PhoneNumber" type="text" class="form-control">
        </div>
    </div>
    <div class="row mb-3">
        <label asp-for="Email" class="col-md-4 col-lg-3 col-form-label"> </label>
        <div class="col-md-8 col-lg-9">
            <input asp-for="Email" type="text" class="form-control">
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">ذخیره کردن تغییرات </button>
    </div>
</form><!-- End Profile Edit Form -->
                
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

       
    }
}
@Html.Partial("_Footer");
