@model BankAccountDetailsViewModel
<tr>
    <td>

        @{
            string str = null;
            if (Model.URL != null)
            {
                var fullAddress = Model.URL; //C:\Users\10\source\repos\PersonalBankAccountManager\PersonalBankAccountManager\wwwroot\images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                var fileAddress = fullAddress.Split("wwwroot\\", 2)[1];//images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                var normalizedFileAddress = fileAddress.Replace("\\", "/");//images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
                str = "../" + normalizedFileAddress;

                <img src="@str" class="bankImage" alt="عکس بانک">

            }
            else
            {
                <label>@Html.DisplayFor(modelItem => modelItem.BankName)</label>
            }
        }





    </td>

    <td>
        @Html.DisplayFor(modelItem => modelItem.CardNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Description)
    </td>
    

<tr>
