@model TransactionDetailsViewModel
<tr>
   

    <td>
        @Html.DisplayFor(modelItem => modelItem.CategoryName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.TransactionPlanName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Description)
    </td>
    
<tr>
