


<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " asp-action="Index" asp-controller="Admin">
                
                <i class="bi bi-grid"></i>
                <span>داشبورد</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#Add-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>اضافه کردن</span><i class="bi bi-chevron-down me-auto"></i>
            </a>
            <ul id="Add-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-action="AddTransactionCategory" asp-controller="Admin">
                        <i class="bi bi-circle"></i><span>اضافه کردن دسته بندی تراکنش</span>
                    </a>
                </li>
                <li>
                    <a asp-action="AddUser" asp-controller="Admin">
                        <i class="bi bi-circle"></i><span>اضافه کردن کاربر</span>
                    </a>
                </li>
                <li>
                    <a asp-action="AddBank" asp-controller="Admin">
                        <i class="bi bi-circle"></i><span>اضافه کردن بانک</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#See-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-journal-text"></i><span>لیست ها</span><i class="bi bi-chevron-down me-auto"></i>
            </a>
            <ul id="See-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a asp-action="AddTransactionCategory" asp-controller="Admin">
                        <i class="bi bi-circle"></i><span> لیست دسته بندی های  تراکنش</span>
                    </a>
                </li>
                <li>
                    <a asp-action="AddUser" asp-controller="Admin">
                        <i class="bi bi-circle"></i><span>لیست کاربران</span>
                    </a>
                </li>
            </ul>
        </li>


    </ul>
    

</aside>


<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

