@model LoginViewModel
@{
    Layout = null;
}
@{
    await Html.RenderPartialAsync("_HeadLinks");
}

<!-- =======================================================
* Template Name: NiceAdmin
* Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
* Updated: Apr 20 2024 with Bootstrap v5.3.3
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
======================================================== -->
<body>

    <main>
        <div class="container">

            <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">


                            <div class="card mb-3">

                                <div class="card-body">

                                    <div class="pt-4 pb-2">
                                        <h5 class="card-title text-center pb-0 fs-4">به اکانت خود وارد شوید</h5>
                                        <p class="text-center small">نام کاربری و پسورد خود را برای ورود به سایت وارد کنید</p>
                                    </div>

                                    <form asp-action="LoginPost" class="row g-3 " novalidate>

                                        <div class="col-12">
                                            
                                            <label asp-for="UserName" class="form-label"></label>
                                            <div class="input-group has-validation">
                                                <span class="input-group-text" id="inputGroupPrepend">&#64</span>
                                                <input asp-for="UserName" name="username" class="form-control" id="yourUsername" required>
                                               
                                            </div>
                                            <span asp-validation-for="UserName" class="text-danger"></span>
                                            
                                        </div>

                                        <div class="col-12">
                                            <label asp-for="Password" class="form-label"></label>
                                            <input asp-for="Password" class="form-control" id="PasswordInput">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>

                                        
                                        <div class="checkbox mb-3">
                                            <label asp-for="RememberMe" class="form-label">
                                                
                                                @Html.DisplayNameFor(m => m.RememberMe)
                                                <input class="form-check-input" asp-for="RememberMe" />
                                            </label>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn btn-primary w-100" type="submit">وارد شوید</button>
                                        </div>
                                        <div class="col-12">
                                            <p class="small mb-0">اکانت ندارید؟ <a type="button" asp-controller ="Account" asp-action="Register" >اکانت جدید بسازید</a></p>
                                        </div>
                                    </form>

                                </div>
                            </div>

                            <div class="credits" dir="ltr">
                                <!-- All the links in the footer should remain intact. -->
                                <!-- You can delete the links only if you purchased the pro version. -->
                                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
                                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                            </div>

                        </div>
                    </div>
                </div>

                
            </section>

        </div>
    </main><!-- End #main -->
    @{
        ViewData["SuccessMessage"] = TempData.Peek("SuccessMessage");
        await Html.RenderPartialAsync("_Message");
    }
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>









    @{
        await Html.RenderPartialAsync("_FooterLinks");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
</body>

</html>