@model BankAccountViewModel;
<style>


    #image-dropdown {
        /*style the "box" in its minimzed state*/
        border: 1px solid black;
        width: 200px;
        height: 50px;
        overflow: hidden;
        /*animate the dropdown collapsing*/
        transition: height 0.1s;
    }

        #image-dropdown:hover {
            /*when expanded, the dropdown will get native means of scrolling*/
            height: 200px;
            overflow-y: scroll;
            /*animate the dropdown expanding*/
            transition: height 0.5s;
        }

        #image-dropdown input {
            /*hide the nasty default radio buttons!*/
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        #image-dropdown label {
            /*style the labels to look like dropdown options*/
            display: none;
            margin: 2px;
            height: 46px;
            opacity: 0.2;
            /* background: url( "../images/0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png"); */
            background-position: left;
            background-size: 30%;
            background-repeat: no-repeat;
        }

        #image-dropdown:hover label {
            /*this is how labels render in the "expanded" state.
             we want to see only the selected radio button in the collapsed menu,
             and all of them when expanded*/
            display: block;
        }

        #image-dropdown input:checked + label {
            /*tricky! labels immediately following a checked radio button
              (with our markup they are semantically related) should be fully opaque
              and visible even in the collapsed menu*/
            opacity: 1 !important;
            display: block;
        }
</style>
<div asp-for="BankId" id="image-dropdown">
    @foreach (var item in Model.BankViewModels)
    {
        var fullAddress = item.URL; //C:\Users\10\source\repos\PersonalBankAccountManager\PersonalBankAccountManager\wwwroot\images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
        var fileAddress = fullAddress.Split("wwwroot\\", 2)[1];//images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
        var normalizedFileAddress = fileAddress.Replace("\\", "/");//images\0c91b3fb-fd9f-4763-9aff-8597206ba6e5.png
        var str = "../" + normalizedFileAddress;
       
        <input type="radio" id="@item.Id" name="line-style" value="@item.Id" checked="checked" />
        <label style="background-image : url(@str)" for="@item.Id">@Html.DisplayFor(modelItem => item.Name)</label>



    }
</div>

