<h1 class="card-title">نمودار ها</h1>
@* <div class="col-lg-6"> *@
<div class="card">
    <div class="card-body">

        <h2>تراکنش ها</h2>
        <!-- Line Chart -->
        <canvas id="lineChart" style="max-height: 400px;"></canvas>

        <!-- End Line CHart -->

    </div>
</div>
@* </div> *@
@* <div class="col-lg-6"> *@
<div class="card">
    <div class="card-body">
        <h2 class="card-title">کتگوری ها </h2>
        <div class="row">

            <!-- Pie Chart -->
            <div class="col-lg-6">

                <canvas id="pieChart1" style="max-height: 400px;"></canvas>
            </div>
            <div class="col-lg-6">

                <canvas id="pieChart2" style="max-height: 400px;"></canvas>
            </div>
            <!-- End Pie CHart -->

        </div>


    </div>
</div>
@* </div> *@


@* <div class="col-lg-6"> *@
<div class="card">
    <div class="card-body">
        <h2 class="card-title">تعداد و مقدار تراکنش ها </h2>
        <div class="row">
            <!-- Bar Chart -->
            <div class="col-lg-6">
                <canvas id="barChart1" style="max-height: 400px;"></canvas>
            </div>
            <div class="col-lg-6">
                <canvas id="barChart2" style="max-height: 400px;"></canvas>
            </div>

            <!-- End Bar CHart -->
        </div>
    </div>
</div>
@* </div> *@

<script src="~/js/charts.js"></script>
