.image-dropdown {
    /*style the "box" in its minimzed state*/
    padding: .375rem .75rem;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 200px;
    height: 50px;
    overflow: hidden;
    /*animate the dropdown collapsing*/
    transition: height 0.1s;
}

    .image-dropdown:hover {
        /*when expanded, the dropdown will get native means of scrolling*/
        height: 200px;
        overflow-y: scroll;
        /*animate the dropdown expanding*/
        transition: height 0.5s;
    }

    .image-dropdown input {
        /*hide the nasty default radio buttons!*/
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    .image-dropdown label {
        /*style the labels to look like dropdown options*/
        display: none;
        margin: 2px;
        height: 46px;
        opacity: 0.2;
        background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRH9wnPhW4-Q2Ka5t3juIv0Jw8_odn8GwY8Q&s") 50% 50%;
        background-position: left;
        background-size: 30%;
        background-repeat: no-repeat;
    }

    .image-dropdown:hover label {
        /*this is how labels render in the "expanded" state.
                 we want to see only the selected radio button in the collapsed menu,
                 and all of them when expanded*/
        display: block;
    }

    .image-dropdown input:checked + label {
        /*tricky! labels immediately following a checked radio button
                  (with our markup they are semantically related) should be fully opaque
                  and visible even in the collapsed menu*/
        opacity: 1 !important;
        display: block;
    }


